* {
    
    text-align: center;
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: #ccc;
    height: 100%;
    width: 100%;
    background-image: -webkit-gradient( linear, 80 bottom, left 60,
    color-stop(0, rgb(91, 135, 115)),
    colour-stop(0.57, rgb(66, 110, 110)));

    font-family: 'lato';
    animation: bgfade 7s;
    -webkit-animation: bgfade 7s;
    font-family: 'Open Sans', sans-serif;

}

.nav{

    padding: 10px;
    box-shadow: 5px 10px #8888;
}

.nav ul {
    list-style: none;
    background-color: #6D98BA;
    text-align: center;
    padding: 0;
    margin: 0;
}

.nav li {
    text-decoration: none;
    font-size: o.8em;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #888;
    margin: 0 4px;
}

.nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .3s background-color;
}

.nav a:hover {
    background-color: #005f5f;
}
 
@media screen and (min-width: 600px) {
    .nav li {
        width: 120px;
        border-bottom: none;
        height: 50px;
        line-height: 50px;
        font-size: 1.2em;
    }
}

.nav li {
    display: inline-block;
    margin-right: -4px;


}

.logo{
    text-align: center;
    width: 50%;
}

body{
    background-image: url(images/apple-wallpaper.jpg);

}

.index-img{
 text-align: center;
margin: 0 auto;
box-sizing: border-box;
    
}

.top{
    float: left;
    width: 100%;
    height: 40px;
    border: 1px dotted #6D98BA;
    font-family: sans-serif;
}

.left{
    float: left;
    width: 50%;
    height: 400px;
    border: 1px solid #9AADBF;
    font-family: sans-serif;
}

.right{
    float: left;
    width: 50%;
    height: 400px;
    border: 1px solid #9AADBF; 
    font-family: sans-serif;
}

.copyright{
    float: left;
    width: 100%;
    height: 40px;
    border: 1px dotted #6D98BA;
    font-family: sans-serif;
}

html {
    height: 100%;
    width: 100%;
}

.title {
    text-align: center;
    font-size: 200%
}

.desc {

    text-align: center;
    font-weight: normal;
    width: 100%;
    height: 100%;
    visibility: hidden;

}

div:hover .desc {
    visibility: visible;
}

div.img img {
    max-width: 100%;
}

div.img {
    margin: 155px 5px 0px 0px;
    padding: 5px;
    box-sizing: border-box;
    background: #9AADBF;
    line-height: 0px;
    height: auto;
    width: 20%;
    float: left;
    text-align: center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border-radius: 4px;


}

div.img img {

    display: inline-block;
    margin: 3px;

}

@keyframes bgfade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes bgfade {
    0% {
        opacity: 0;
    }
    100% {

        opacity: 1;
    }
}

.dropbtn {
    background-color: #6D98BA;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #9AADBF;
}

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.help {
    color: black;
    font-size: 100%;
    text-align: center;
}

.header{
    text-align: center;
    font-size: 140%;
    color: whitesmoke;
}

.techbody{
    text-align: center;
    color: #B2DDF7;
    margin: 3%;
    }

.cropimg{
    height: 40%;
    width: auto;
    
    
    }

.left1{
    float: left;
    width: 50%;
    height: 250px;
    border: 1px solid #9AADBF;
    font-family: sans-serif;
    color: #B2DDF7;
}


.right1{
    float: left;
    width: 50%;
    height: 250px;
    border: 1px solid #9AADBF; 
    font-family: sans-serif;
    color: #B2DDF7;
}